.spock {
  background: linear-gradient(
    90deg,
    hsl(189, 59%, 53%) 0%,
    hsl(189, 58%, 57%) 100%
  );
  width: 150px;
  height: 150px;
  border-radius: 100%;

  display: grid;
  place-items: center;
  box-shadow: 0 9px hsl(189, 43%, 44%);
  animation-direction: alternate;
}
.spock-center {
  background: white;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  box-shadow: 0 7px inset rgb(216, 216, 216);
  display: grid;
  place-items: center;
}

.spock-center img {
  width: 50px;
}

.game-main .spock {
  width: 300px;
  height: 300px;
  box-shadow: 0 15px hsl(189, 43%, 44%);
}

.game-main .spock-center {
  width: 240px;
  height: 240px;
  box-shadow: 0 12px inset rgb(216, 216, 216);
}

.game-main .spock-center img {
  width: 90px;
}

@keyframes pulsateSpock {
  0% {
    box-shadow: 0 15px hsl(189, 43%, 44%),
      0 0 5px 20px hsla(189, 44%, 35%, 0.699),
      0 0 5px 40px hsla(189, 44%, 35%, 0.473),
      0 0 5px 60px hsla(189, 44%, 35%, 0.322);
  }
  100% {
    box-shadow: 0 15px hsl(189, 43%, 44%),
      0 0 5px 60px hsla(189, 44%, 35%, 0.699),
      0 0 5px 120px hsla(189, 44%, 35%, 0.473),
      0 0 5px 180px hsla(189, 44%, 35%, 0.322);
  }
}

@media only screen and (max-width: 1000px) {
  .game-main .spock {
    width: 250px;
    height: 250px;
    box-shadow: 0 13px hsl(189, 43%, 44%);
  }

  .game-main .spock-center {
    width: 190px;
    height: 190px;
    box-shadow: 0 10px inset rgb(216, 216, 216);
  }
  .game-main .spock-center img {
    width: 70px;
  }
}

@media only screen and (max-width: 850px) {
  .game-main .spock {
    width: 220px;
    height: 220px;
    box-shadow: 0 13px hsl(189, 43%, 44%);
  }

  .game-main .spock-center {
    width: 170px;
    height: 170px;
    box-shadow: 0 10px inset rgb(216, 216, 216);
  }
  .game-main .spock-center img {
    width: 65px;
  }
}

@media only screen and (max-width: 414px) {
  .spock {
    width: 110px;
    height: 110px;
    box-shadow: 0 6px hsl(189, 43%, 44%);
  }
  .spock-center {
    width: 80px;
    height: 80px;
    box-shadow: 0 5px inset rgb(216, 216, 216);
  }
  .spock-center img {
    width: 35px;
  }
  .game-main .spock {
    width: 150px;
    height: 150px;

    box-shadow: 0 13px hsl(189, 43%, 44%);
  }

  .game-main .spock-center {
    width: 120px;
    height: 120px;
    box-shadow: 0 10px inset rgb(216, 216, 216);
  }
  .game-main .spock-center img {
    width: 65px;
  }
}
