.choice-main {
  margin: auto;
  width: 500px;
  height: 550px;

  background-image: url('../../images/bg-pentagon.svg');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: 420px 400px;
}
.firstRow {
  display: flex;
  justify-content: center;
}

.secondRow {
  display: flex;
  justify-content: space-between;
}
.thirdRow {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
}

@media only screen and (max-width: 414px) {
  .choice-main {
    width: 330px;
    height: 370px;
    background-size: 270px 270px;
  }
  .choice-main .thirdRow {
    margin-top: 30px;
  }
}
